@font-face {
    font-family: "Metal";
    src: url("Metal/Metal.ttf");
    font-style: normal;
}
html {
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
body {
    background-image: linear-gradient(to bottom left, red, rgb(139, 4, 4));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    padding:0;
    font-family: "metal", sans-serif;
    height: 100%;
}
button {
    font-family: "metal", sans-serif;
    outline: 0;
    cursor: pointer;
    background-color: white;
    border: 0.1vw solid black;
}
button:active {
    outline: 0;
}
h3 {
    display: inline-block;
    font-size: 50px;
    margin: 0;
}
#open-screen {
    margin: 0;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}
#title {
    font-size: 6vw;
    margin: 3% auto;
}
#start {
    background-image: linear-gradient(to bottom left, rgb(5, 177, 5), rgb(4, 214, 179));
    margin-top: 15%;
    font-size: 5vw;
    padding: 0.5vw 1.5vw;
    border-radius: 1.5vw;
    -webkit-border-radius: 1.5vw;
    -moz-border-radius: 1.5vw;
    -ms-border-radius: 1.5vw;
    -o-border-radius: 1.5vw;
    border: 0;
    box-shadow: 0.5vw 0.5vw;
}
#start:active {
    box-shadow: 0 0 0;
    margin-top: calc(15% + 0.5vw);
}

#main-menu {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
}
.calendar-button {
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 5vw;
    height: 5vw;
    background: white url("Design/calendar.png");
    background-position: 50%;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    border: 0;
    box-shadow: 0.4vw 0.4vw;
}
.calendar-button:active {
    margin-top: 0.4vw;
    box-shadow: 0 0 0;
}

table#menu-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.skill {
    background-color: white;
    font-size: 3vw;
    width: 21vw;
    height: 11vw;
    margin: 0.7vw;
    border: 0;
    border-radius: 24.997px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    vertical-align: top;
    box-shadow: 0.5vw 0.5vw;
}
.skill:active {
    box-shadow: 0 0 0;
    margin-top: 1.2vw;
    margin-bottom: 0.2vw;
    color: black;
}
.extra-button {
    width: 66.4vw;
    height: 85%;
}
.extra-button:active {
    color: white;
    background-color: rgb(54, 54, 54);
}

.top-table {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 5.5vw;
}
.skill-title {
    font-size: 4.5vw;
    padding: 0;
    margin: 0;
}
.back-button {
    margin: 0.5vw;
    border: 0;
    background: none;
    font-size: 2.2vw;
}
.back-button:hover {
    opacity: 0.6;
}
.back-td {
    width: 18vw;
    text-align: left;
    vertical-align: top;
}
.timer-container { 
    margin-right: 0.6vw;
    margin-top: 0.6vw;
}
.timer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    width: 7.8vw;
    height: 4.5vw;
    border-radius: 0.78vw;
    -webkit-border-radius: 0.78vw;
    -moz-border-radius: 0.78vw;
    -ms-border-radius: 0.78vw;
    -o-border-radius: 0.78vw;
    border: 0.4vw solid rgb(34, 34, 34);
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.timer h3 {
    font-size: 3vw;
}
.timer-edit {
    background: rgb(36, 155, 36) url("Design/pencil-icon.png");
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 0.78vw;
    -webkit-border-radius: 0.78vw;
    -moz-border-radius: 0.78vw;
    -ms-border-radius: 0.78vw;
    -o-border-radius: 0.78vw;
    border: 0.4vw solid rgb(8, 90, 8);
    vertical-align: middle;
    margin-left: 0.5vw;
}
.skill-options {
    height: 85%;
    width: 20%;
    margin: 0.5vw 0 0 0;
    text-align: center;
    float: left;
    overflow-y: scroll;
    overflow-x: visible;
    position: relative;
}
.skill-option-buttons {
    background-color: white;
    margin: 0.7vw auto;
    width: 90%;
    height: 10%;
    font-size: 2.5vw;
    border: 0;
    border-radius: 0.78vw;
    -webkit-border-radius: 0.78vw;
    -moz-border-radius: 0.78vw;
    -ms-border-radius: 0.78vw;
    -o-border-radius: 0.78vw;
    box-shadow: 0.4vw 0.4vw;
    vertical-align: top;
}
.skill-option-buttons:active {
    margin-top: 1.1vw;
    margin-bottom: 0.3vw;
    box-shadow: 0 0 0;
    color: black;
}
.skill-display {
    background-color: white;
    width: calc(80% - 0.6vw);
    height: calc(100% - 6.6vw);
    float: left;
    margin: 0.5vw 0 0 0;
    border: 0.5vw solid black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    overflow: hidden;
    overflow: scroll;
    box-sizing: border-box;
}
.source h1 {
    font-size: 6vw;
}
.text-box {
    font-size: 2.25vw;
    width: 5vw;
    border-radius: 0.78vw;
    -webkit-border-radius: 0.78vw;
    -moz-border-radius: 0.78vw;
    -ms-border-radius: 0.78vw;
    -o-border-radius: 0.78vw;
    text-align: center;
}
.metronome {
    background-color: white;
    width: 90%;
    height: 30%;
    border-radius: 0.78vw;
    display: none;
    -webkit-border-radius: 0.78vw;
    -moz-border-radius: 0.78vw;
    -ms-border-radius: 0.78vw;
    -o-border-radius: 0.78vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5vw;;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    box-shadow: 0.5vw 0.5vw;
}
.metro-button {
    background-color: white;
    display: inline-block;
    font-size: 3vw;
    border: 0;
    margin-top: 1.04vw;
    vertical-align: middle;
}
.metro-button:active {
    color: grey;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bpm {
    margin-top: 1.04vw;
    width: 70px;
    font-size: 1.5vw;
    text-align: center;
    font-family: "metal", sans-serif;
    vertical-align: middle;
    border: 0;
    outline: 0;
}
.metro-play {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: url("play-button.png");
    background-size: 62px;
    background-repeat: no-repeat;
    border: 0;
}
.metro-pause {
    display: none;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: url("pause-button.png");
    background-size: 62px;
    background-repeat: no-repeat;
    border: 0;
}
.metro-play:active, .metro-pause:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    color: black;
}
.inner-display {
    text-align: center;
    display: none;
    width: 100%;
    height: 100%;
}
img {
    width: 60%;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.syn-title {
    font-size: 4vw;
}
.tab-images {
    width: 100%;
}
.solo-audio {
    margin-bottom: 3vw;
    width: 90%;
}
.solo-speed {
    padding: 0.5vw;
    width: 30%;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.solo-bpm {
    font-size: 2vw;
    width: 15%;
    text-align: center;
    vertical-align: middle;
    border: 0;
    font-family: "metal", sans-serif;
}
.solo-bpm-scrubber {
    width: 80%;
}
.tabs-button {
    font-size: 2vw;
    width: 25%;
    margin: 0 1.5vw 1.04vw 1.5vw;
    border-radius: 0.78vw;
    -webkit-border-radius: 0.78vw;
    -moz-border-radius: 0.78vw;
    -ms-border-radius: 0.78vw;
    -o-border-radius: 0.78vw;
    box-shadow: 0.3vw 0.3vw;
    vertical-align: top;
    cursor: pointer;
}
.tabs-button:active {
    box-shadow: 0 0 0;
    margin: 0.3vw 1.5vw 0.7vw 1.5vw;
}
.guitar-1, .guitar-2 {
    display: none;
}
.pitch-rec, .note-rec {
    position: relative;
}
.skill-options h1 {
    box-shadow: 0 0 0;
    cursor: auto;
    font-size: 2.6;
    background-color: transparent;
    margin: 0 auto;
}
.rec-title{
    font-size: 4vw;
    margin: 0;
}
.pitch-rec-start, .note-rec-start {
    font-size: 4vw;
    border-radius: 1.25vw;
    -webkit-border-radius: 1.25vw;
    -moz-border-radius: 1.25vw;
    -ms-border-radius: 1.25vw;
    -o-border-radius: 1.25vw;
    margin-top: 1.5vw;
    background-image: linear-gradient(to bottom right, rgb(46, 252, 46), green);
    border: 0;
    padding: 0.25vw 0.78vw;
    box-shadow: 0.5vw 0.5vw;
}
.pitch-rec-start:active, .note-rec-start:active {
    box-shadow: 0 0 0;
    margin-top: 1.95vw;
}
.piano, .note-rec-piano{
    position: absolute;
    border: 6px solid black;
    border-radius: 25px;
    overflow: hidden;
    width: 60%;
    height: 60%;
    margin: 0 auto 0 auto;
    padding: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.white-key {
    background-color: white;
    height: 100%;
    width: 14.2857142%;
    outline: 6px solid black;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    position: relative;
}
.black-key {
    background-color: black;
    border-radius: 0 0 7px 7px;
    width: 10.190476%;
    height: 63.653137%;
    position: absolute;
    top: 0;
    left: 9.1904762%;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    cursor: pointer;
}
.eb {
    left: 23.4761904%;
}
.gb {
    left: 52.0476188%;
}
.ab {
    left: 66.333333%;
}   
.bb {
    left: 80.6190472%;
}
.black-key:active {
    box-shadow: 0 0 6px 0 black;
}
.piano h1, .note-rec-piano h1 {
    font-size: 3.6vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.piano h2, .note-rec-piano h2{
    color: white;
    margin: 0;
    position: relative;
    top: 60%;
    font-size: 1.5vw;
}
.pitch-rec p, .note-rec p {
    margin: 0 0 0 1%;
    font-size: 3vw;
    display: inline-block;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
}
.tooltip-text {
visibility: hidden;
    width: 30%;
    background-color: grey;
    color: black;
    text-align: center;
    border-radius: 0.5vw ;
    -webkit-border-radius: 0.5vw ;
    -moz-border-radius: 0.5vw ;
    -ms-border-radius: 0.5vw ;
    -o-border-radius: 0.5vw ;
    position: absolute;
    z-index: 1;
    left: 22%;
    font-size: 1.75vw;
}
#note-rec > .skill-options > h1 {
    font-size: 3.5vw;
}
.difficulty-easy-button:hover .tooltip-text {
    visibility: visible;
}
.difficulty-medium-button:hover .tooltip-text {
    visibility: visible;
}
.difficulty-hard-button:hover .tooltip-text {
    visibility: visible;
}
.difficulty-extreme-button:hover .tooltip-text {
    visibility: visible;
}
.difficulty-insane-button:hover .tooltip-text {
    visibility: visible;
}
.note-rec-piano {
    height: 50%;
}
.note-rec-piano h1 {
    top: 60%;
}
.note-rec-piano h2 {
    top: 50%;
}
.note-rec-start {
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 4vw;
    width: 15%;
}
.note-image {
    height: 45%;
    width: auto;
    position: relative;
    right: 1%;
    visibility: hidden;
}
#note-rec .skill-options, #pitch-rec .skill-options {
    position: static;
}
.toolbox-button {
    width: 6%;
    height: 10%;
    position: absolute;
    top: 1vw;
    right: 1vw;
    border: 0 ;
    box-shadow: 0.4vw 0.4vw;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-image: url("Design/toolbox.png");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.toolbox-button:active {
    margin-top: 0.4vw;
    box-shadow: 0 0 0;
}
.toolbar {
    display: flex;
    height: 100%;
    width: 25%;
    background-color: rgb(75, 104, 145);
    position: fixed;
    top: 0;
    right: -25%;
    overflow-x: hidden;
    z-index: 1;
    padding-top: 2vw;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: inset 1vw 0 2vw;
    flex-direction: column;
    align-items: center;
}
.toolbar button {
    padding: 0.5vw 0.5vw 0.5vw 1.5vw;
    font-size: 2.5vw;
    display: block;
    border-radius: 15px;
    width: 80%;
    border: 0;
    margin-bottom: 1.5vw;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0.4vw 0.4vw;
    float: left;
}
.toolbar button:active {
    margin: 0.4vw 0 1.1vw 0;
    box-shadow: 0 0 0;
}
#tuner .top-table .back-td {
    position: absolute;
}
#tuner .top-table .title-td {
    margin: 0 auto;
}
#tuner .skill-option-buttons .tooltip-text {
    width: auto;
    padding: 0 1vw;
    font-size: 3vw;
    opacity: 0;
    transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    position: absolute;
    left: 40%;
}

#tuner .skill-option-buttons:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
#tuner .skill-options {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100% - 7vw);
}
#tuner .skill-display { 
    margin-left: 20%;
}
#tuner .skill-option-buttons {
    width: 36%;
    height: 10%;
    margin: 0.7vw 2%;
}
#tuner .skill-option-buttons:active {
    margin-top: 1.1vw;
    margin-bottom: 0.3vw;
}
.tuning-headstock {
    display: flex;
    justify-content: center;
    position: relative;
}
#tuner img {
    width: auto;
    height: 100%;
}
p {
    display: inline-block;
    margin: 0;
    font-size: 1.8vw;
}
.note-circles1, .note-circles2 {
    display: inline-block; 
    height: 100%;
    position: relative;
    width: 5vw;
}
.note-circles1 button, .note-circles2 button {
    height: 10.862116%;
    border-radius: 100vw;
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
    position: absolute;
    left: 0;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(26, 26, 26), rgb(99, 99, 99));
    font-size: 3vw

}
.note-button-third, .note-button-fourth {
    top: 23.9%;
}
.note-button-second {
    top: 39.5%;
}
.note-button-first {
    top: 54.2%
}
.note-button-fifth {
    top: 38.5%;
}
.note-button-sixth {
    top: 52.5%
}
.switch {
    position: absolute;
    width: 6%;
    height: 5%;
    top: 1vw;
    left: 1vw;
    background-color: darkgrey;
    border-radius: 50vw;
    -webkit-border-radius: 50vw;
    -moz-border-radius: 50vw;
    -ms-border-radius: 50vw;
    -o-border-radius: 50vw;
    cursor: pointer;
}
.switch span {
    position: absolute;
    width: 40%;
    height: 75%;
    background-color: white;
    border-radius: 50vw;
    -webkit-border-radius: 50vw;
    -moz-border-radius: 50vw;
    -ms-border-radius: 50vw;
    -o-border-radius: 50vw;
    margin-top: 6%;
    left: 6%;
    transition: right 0.3s;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
}
.switch h3 {
    position: absolute;
    margin: 0;
    top: 100%;
    left: -10%;
}
.queue-switch {
    width: 5.5vw;
    height: 3vw;
    background-color: white;
    border-radius: 50vw;
    -webkit-border-radius: 50vw;
    -moz-border-radius: 50vw;
    -ms-border-radius: 50vw;
    -o-border-radius: 50vw;
    position: relative;
    margin: 1.5vw 1.5vw 0 0;
    cursor: pointer;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}
.queue-switch span {
    width: 2.5vw;
    height: 2.5vw;
    background-color: rgb(62, 62, 62);
    position: absolute;
    top: 50%;
    left: 0.25vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50vw;
    -webkit-border-radius: 50vw;
    -moz-border-radius: 50vw;
    -ms-border-radius: 50vw;
    -o-border-radius: 50vw;
    transition: left 0.1s;
    -webkit-transition: left 0.1s;
    -moz-transition: left 0.1s;
    -ms-transition: left 0.1s;
    -o-transition: left 0.1s;
}
#calendar {
    position: fixed;
    background-color: rgb(35, 45, 59);
    height: 100%;
    width: 70%;
    top: 0;
    left: -70%;
    transition: left 0.5s, right 0.5s;
    -webkit-transition: left 0.5s, right 0.5s;
    -moz-transition: left 0.5s, right 0.5s;
    -ms-transition: left 0.5s, right 0.5s;
    -o-transition: left 0.5s, right 0.5s;
    box-shadow: inset -1vw 0 2vw;
}
#calendar iframe {
    width: 100%;
    height: 100%;
    box-shadow: inset -1vw 0 2vw;
}
.cal-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset -1vw 0 2vw;
    pointer-events: none;
}



#skill-container, #alternate-picking, #sweep-picking, #economy-picking, #tapping, #legato-picking, #pentatonics, #songs, #solos, #fingerstyle, #backing-tracks, #pitch-rec, #note-rec, #tuner{
    width: 100%;
    height: 100%;
}
#open-screen {
    display: block;
}
#main-menu {
    display: none;

}
@media only screen and (max-width: 1100px) {
    #title {
        font-size: 9vw;
        margin: 0;
    }
    #start {
        font-size: 7vw;
        margin-top: 5%;
    }
    #start:active {
        box-shadow: 0 0 0;
        margin-top: calc(5% + 10px);
    }
    .piano {
        height: 45%;
    }
    .piano h1, .note-rec-piano h1 {
        top: 50%;
    }
    .piano h2, .note-rec-piano h2 {
        top: 20%;
    }
    .note-image {
        width: 10%;
    }


}
